{% extends "base.html" %}

{% block title %}
    <title>Task: {{ task.name }}</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">{{ task.name }}</h2>

    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Deadline:</strong> {{ task.deadline }}</p>
    <p><strong>Status:</strong> {% if task.is_completed %} ✅ Completed {% else %} ⏳ In Progress {% endif %}</p>
    <p><strong>Priority:</strong> {{ task.priority }}</p>
    <p><strong>Task Type:</strong> {{ task.task_type }}</p>

    <h4>Assignees:</h4>
    <ul>
        {% for worker in task.assignees.all %}
            <li><a href="{% url 'manager:workers-detail' worker.id %}">
                {{ worker.username }}</a> {{ worker.first_name }} {{ worker.last_name }} ({{ worker.position }})</li>
        {% empty %}
            <li>No assignees</li>
        {% endfor %}
    </ul>
    <a href="{% url 'manager:tasks-update' task.id %}" class="btn btn-success">Update this task</a>
    <br>
    <a href="{% url 'manager:tasks-list' %}" class="btn btn-secondary">Back to Tasks</a>
</div>
{% endblock %}
