{% extends "layouts/base.html" %}

{% block title %} Update Worker {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main>
    {% include 'includes/preloader.html' %}

    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-2 mb-4">Update Worker</h1>
                    <p class="lead mb-4 text-muted">Edit the worker's information below to update their details.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pt-0">
        <div class="container mt-4">
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <h3 class="h5">Worker Information</h3>
                    {{ form.as_p }}
                </div>

                <div class="d-flex gap-3 mt-4 justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Update</button>
                    <a href="{% url 'manager:workers-list' %}" class="btn btn-secondary btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </section>

</main>

{% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
